.form_container {
  background: rgba(0, 0, 0, 0.8);
  width: 28.125rem;
  height: 41.25rem;
  padding: 4rem;
}

.input_container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1.2rem;
}
.input_empty {
  color: #fff;
  background: #333;
  border: 0;
  border-radius: 0.5rem;
  height: 3rem;
  padding: 0.9rem 1.25rem 0;
}

form div label {
  position: absolute;
  top: 0.625rem;
  left: 1.25rem;
  pointer-events: none;
  color: #8a8a8a;
  font-size: 1rem;
  transition: transform 0.135s ease-out, font-size 0.135s ease-out;
}

form div {
  position: relative;
}

input:focus ~ label {
  top: 0.4375rem;
  font-size: 0.7rem;
}

input:focus {
  outline: none;
}

.sbtn {
  color: #fff;
  background: rgba(299, 9, 20);
  outline: none;
  border: none;
  padding: 0.8rem 1.3rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  transition: opacity 0.2s ease-in;
  cursor: pointer;
  text-decoration: none;
  margin: 1rem 0;
}

.checkbox_container {
  margin-left: 0.75rem;
  padding-left: 1.875rem;
  position: relative;
  font-size: 0.9rem;
  cursor: pointer;
  color: #999;
}

.checkbox_container input {
  display: none;
}

.bottom_form img {
  width: 1.5625rem;
  margin: 0.625rem 0.625rem -0.4375rem 0;
}

.facebook_login {
  columns: #828282;
  font-size: 0.9rem;
}
.bottom_form {
  position: absolute;
  bottom: 0;
  margin-bottom: 4rem;
}

.checkbox_container .checkmark {
  display: inline-block;
  background: #4545;
  width: 1.1rem;
  height: 1.1rem;
  left: 0;
  top: 0;
  border-radius: 0.2rem;
  position: absolute;
}

.checkbox_container input:checked + .checkmark::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 0.65rem;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  top: 25%;
  left: 21%;
  transform: rotate(-45deg);
}

.theLink {
  text-decoration: none;
  color: #828282;
  margin-left: 6.6rem;
  font-size: 0.9rem;
}

.signup {
  font-size: 1.1rem;
  color: #fff;
}
.signup:hover {
  text-decoration: underline;
}
